<div class="bg-body-tertiary border-bottom border-1"> <div class="d-flex px-3 pt-3 justify-content-center">
      <h2 class="modal-title fs-5 fw-bold text-success" id="staticBackdropLabel">{{infoProveedor()?.Nombre}}</h2>
      <div class="ms-auto">
        @if(pedidoSeleccionado()?.estado == 'Pendiente'){
          <span class="fw-semibold text-warning bg-warning-subtle py-1 px-2 rounded-4">{{pedidoSeleccionado()?.estado}}</span>
        }@else if(pedidoSeleccionado()?.estado == 'Cancelado') {
          <span class="fw-semibold text-danger bg-danger-subtle py-1 px-2 rounded-4">{{pedidoSeleccionado()?.estado}}</span>
        }@else if(pedidoSeleccionado()?.estado == 'En proceso') {
          <span class="fw-semibold text-primary bg-primary-subtle py-1 px-2 rounded-4">{{pedidoSeleccionado()?.estado}}</span>
        }@else if(pedidoSeleccionado()?.estado == 'Entregado'){
          <span class="fw-semibold text-success bg-success-subtle py-1 px-2 rounded-4">{{pedidoSeleccionado()?.estado}}</span>
        }
      </div>
    </div>
    <p class="ps-3 small">RUC: {{infoProveedor()?.Ruc}}</p>
</div>

<div class="p-4 pb-2"> <span class="fw-semibold text-secondary" style="letter-spacing: 1px;">DATOS DEL PROVEEDOR</span>
  <div class="mt-4 row">

    <div class="d-flex col">
      <i class="bi bi-person-fill fs-2 pe-2 text-success"></i>
      <div>
        <span class="small text-secondary">Persona de contacto</span>
        <p>{{infoProveedor()?.Contacto}}</p>
      </div>
    </div>

    <div class="d-flex col">
      <i class="bi bi-telephone-fill fs-2 pe-2 text-success"></i>
      <div>
        <span class="small text-secondary">Teléfono</span>
        <p>{{infoProveedor()?.Telefono}}</p>
      </div>
    </div>

    <div class="d-flex col">
      <i class="bi bi-envelope-fill fs-2 pe-2 text-success"></i>
      <div>
        <span class="small text-secondary">Correo electrónico</span>
        <p>{{infoProveedor()?.Email}}</p>
      </div>
    </div>

  </div>
</div>

<div class="p-4">
  <span class="fw-semibold text-secondary" style="letter-spacing: 1px;">DETALLES DEL PEDIDO</span>
  <div class="bg-body-tertiary rounded rounded-3 row p-2 mt-4">
    <div class="col">
      <span class="small text-secondary">ID del pedido</span>
      <p class="fw-semibold"># {{pedidoSeleccionado()?.id_pedido}}</p>
    </div>
    <div class="col">
      <span class="small text-secondary">Fecha de pedido</span>
      <p class="fw-semibold">{{pedidoSeleccionado()?.fecha_creacion_pedido}}</p>
    </div>
    <div class="col">
      <span class="small text-secondary">Entrega estimada</span>
      <p class="fw-semibold">{{pedidoSeleccionado()?.fecha_estimada_entrega}}</p>
    </div>
  </div>
</div>

<div class="p-4 d-flex flex-column">
  <span class="fw-semibold text-secondary mb-4" style="letter-spacing: 1px;">PRODUCTOS DEL PEDIDO</span>
  <app-tabla-detalle-pedidos [detallePedido]="productosPedidos()"/>
  <p class="fs-2 ms-auto text-success"><span class="fw-bold">Total:</span> ${{pedidoSeleccionado()?.total}}</p>
</div>

<div class="p-4">
  <span class="fw-semibold text-secondary mb-4" style="letter-spacing: 1px;">OBSERVACIONES</span>
  <div class="bg-warning-subtle border-start border-3 border-warning p-2 mt-4">
    <p class="small">{{pedidoSeleccionado()?.observaciones}}</p>
  </div>
</div>
