<table class="table table-hover border shadow p-3 mb-5 bg-body-tertiary w-100" style="min-width: 1100px;">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Fecha del pedido</th>
      <th scope="col">Fecha estima de entrega</th>
      <th scope="col">Estado</th>
      <th scope="col">Total</th>
      <th scope="col">Acciones</th>
    </tr>
    
  </thead>

  <tbody>
    @for (pedido of pedidos(); track pedido.id_pedido) {
      <tr>
        <td class="text-center">{{pedido.id_pedido}}</td>
        <td class="text-center">{{pedido.nombre_proveedor}}</td>
        <td class="text-center">{{pedido.fecha_creacion_pedido}}</td>
        <td class="text-center">{{pedido.fecha_estimada_entrega}}</td>
        <td class="text-center"> <!--Estados del pedido-->
          @if(pedido.estado == 'Pendiente'){
            <span class="fw-semibold text-warning bg-warning-subtle py-1 px-2 rounded-4">
              {{pedido.estado}}
            </span>
          }@else if(pedido.estado == 'Cancelado') {
            <span class="fw-semibold text-danger bg-danger-subtle py-1 px-2 rounded-4">
              {{pedido.estado}}
            </span>
          }@else if(pedido.estado == 'En proceso') {
            <span class="fw-semibold text-primary bg-primary-subtle py-1 px-2 rounded-4">
              {{pedido.estado}}
            </span>
          }@else if(pedido.estado == 'Entregado'){
            <span class="fw-semibold text-success bg-success-subtle py-1 px-2 rounded-4">
              {{pedido.estado}}
            </span>
          }
        </td>
        <td>$ {{pedido.total}}</td>
        <td class="d-flex gap-2"> <!--Botones de acciones-->
          <button class="btn btn-outline-success" 
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  (click)="seleccionarPedido(pedido)">Ver información</button>
          <div class="dropdown">
            @if(pedido.estado != 'Entregado'){
              <button class="btn btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                @if(pedido.estado == 'Pendiente') {
                  <li><a class="dropdown-item" style="cursor: pointer;" (click)="enviar()">Enviar</a></li>
                }
                @if(pedido.estado == 'En proceso') {
                  <li><a class="dropdown-item" style="cursor: pointer;">Cancelar</a></li>
                }
                @if(pedido.estado == 'Cancelado') {
                  <li><a class="dropdown-item" style="cursor: pointer;" (click)="reactivar(pedido.id_pedido)">Reactivar</a></li>
                }
              </ul>
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

<!--Modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <app-info-pedido [pedidoSeleccionado]="pedidoSeleccionado" [infoProveedor]="infoProveedor" [productosPedidos]="productosPedidos"/>

      <div class="modal-footer bg-body-tertiary">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
        [routerLink]="['/pedido/editar/', pedidoSeleccionado?.id_pedido]">
          <i class="bi bi-pencil-square"></i> Editar
        </button>
      </div>
    </div>
  </div>
</div>