<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
  <div class="card shadow-lg p-4 border-0" style="width: 380px;">
    <h4 class="text-center mb-4 text-success fw-bold">
      <i class="bi bi-person-circle me-2"></i>Inicio de Sesión
    </h4>

    <div class="mb-3">
      <label for="usuario" class="form-label text-secondary">Usuario</label>
      <input type="text" id="usuario" class="form-control" placeholder="Ingrese su usuario">
    </div>

    <div class="mb-3">
      <label for="clave" class="form-label text-secondary">Clave</label>
      <input type="password" id="clave" class="form-control" placeholder="Ingrese su clave">
    </div>

    <button class="btn btn-agro w-100 mt-2" (click)="login()">Aceptar</button>
  </div>
</div>
