body {
  background-color: #f8faf8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-agro {
  background-color: #198754; /* verde bootstrap */
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-agro:hover {
  background-color: #146c43;
  color: #fff;
}

header .navbar-brand {
  font-weight: bold;
  letter-spacing: 0.5px;
}

footer {
  font-size: 0.9rem;
}
